body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(207, 234, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "OpenMojiDemoFont";
  src: url("/public/OpenMoji-color-glyf_colr_0.woff2") format("woff2");
}

@font-face {
  font-family: "NotoColorEmoji";
  src: url("/public/NotoColorEmoji.ttf") format("opentype");
}

.openmoji-demo {
  font-family: OpenMojiDemoFont, sans-serif;
}

.openmoji-ios {
  font-family: NotoColorEmoji, sans-serif;
}
